body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
    margin: 0;
    height: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.menu-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.menu-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.link {
    padding: 24px 0;
}

.page-nav .link.first {
    position: relative;
    color: #404bbf;
}

.menu-page {
    background: #fff;
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    flex-shrink: 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.page-nav {
    display: flex;
    gap: 40px;
    list-style-type: none;

}

.page-nav .link.first:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    padding: 0;
    height: 4px;
    margin-top: 44px;
    margin-bottom: 4px;
    flex-shrink: 0;
    border-radius: 2px;
    background-color: #404bbf;
}

.page-address {
    display: flex;
    gap: 40px;
    list-style-type: none;
    padding: 24px 0;
}

.menu-page .logo {
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    margin-right: 76px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16666667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.logo-part-black {
    color: #2e2f42;
}

.logo-part-white {
    color: #f4f4fd;
}

.page-nav .link {
    display: block;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-nav .link:hover {
    color: #404bbf;
}

.page-nav .link:focus {
    color: #404bbf;
}

.menu-address {
    font-style: normal;
}

.page-address .link {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-address .link:hover {
    color: #404bbf;
}

.page-address .link:focus {
    color: #404bbf;
}

.main-page-btn {
    background-color: #4d5ae5;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    padding-left: 32px;
    margin: auto;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: block;
    min-width: 169px;
    border: none;
    height: 56px;
    gap: 10px;
    white-space: nowrap;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-page-btn:hover {
    background-color: #404bbf;
}

.main-page-btn:focus {
    background-color: #404bbf;
}

.main-page-text {
    background: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto; 
}

.main-page-text-title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    display: block;
    margin: auto;
    max-width: 496px;
}

.container-text {
    padding-top: 120px;
    padding-bottom: 120px;
}

ul {
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-block {
    flex-basis: calc((100% - 72px) / 4);
}

.container-text-title {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 8px;
}

.container-text-list {
    background-color: #ffffff;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 24px;
}

.icon-list {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    justify-content: center;
    padding: 24px 100px;
    border-radius: 4px;
    border: 1px solid var(--LIGHT-SLATE, #8e8f99);
    background: var(--CLOUD, #f4f4fd);
    width: 264px;
    height: 112px;
    flex-shrink: 0;
}

.container-text-descr {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.sector-team-company {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.info-company {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-company-list {
    list-style-type: none;
    display: flex;
    box-sizing: border-box;
    gap: 24px;
    align-items: center;
    border-radius: 0px 0px 4px 4px;
}

.team-company-page {
    background-color: #ffffff;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.name-job-block {
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #fff);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.team-job-title {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.list-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    list-style-type: none;
    margin-top: 8px;
}

.list-link-icon {
    width: 40px;
    height: 40px;
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    border-radius: 50%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover {
    background-color: #404bbf;
}

.icon-link:focus {
    background-color: #404bbf;
}

.icon-edit {
    fill: #f4f4fd;
}

.sector-portfolio-company {
    background: #fff;
    padding-top: 120px;
    padding-bottom: 120px;
}

.title-text-portfolio {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}
.portfolio-company-list {
    list-style-type: none;
    display: flex;
    box-sizing: border-box;
    column-gap: 24px;
    row-gap: 48px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.page {
    position: relative;
    overflow: hidden;
}

.portfolio-block {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.item {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
}

.item-portfolio-company {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.direction-item-portfolio-company {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.overlay {
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    background-color: #4d5ae5;
    color: #f4f4fd;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    width: 360px;
    height: 300px;
    flex-shrink: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-block:hover .overlay {
    transform: translateY(0);
}

.portfolio-block:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.sector-contacts-company {
    background: #2E2F42;
    padding: 100px 0;
}

.sector-contacts-company .logo {
    display: inline-block;
    margin-bottom: 16px;
}

.sector-contacts-company .container {
    display: flex;
    align-items: baseline;
}
.text-footer {
    margin-right: 120px;
}

.text-contacts-company {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 16px;
}

.sector-contacts-company .icon-link:hover {
    background-color: #31d0aa;
}

.sector-contacts-company .icon-link:focus {
    background-color: #31d0aa;
}

.sector-contacts-company .list-icon {
    gap: 16px;
}

/*+++++++++++ form footer+++++++++++++ */


.footer-form {
    
}

.footer-group-title {
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 16px;
    margin-left: 80px;
}

.footer-form-group {
    display: flex;
    
        flex-shrink: 0;
        border: none;
        margin-left: 80px;
}

.footer-form-label {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    
    line-height: 2;
    letter-spacing: 0.02em;
    position: absolute;
    top: 10;
    left: 20;
    transform: translateY(50%);
    
}
.footer-form-group + .form-input {
position: relative;
}

.foooter-form-input {
    width: 264px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: #2E2F42;
}

.footer-form-btn {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 4px;
    background: #4D5AE5;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    margin: auto;
    min-width: 165px;
    border: none;
    min-height: 40px;
    white-space: nowrap;
    margin-left: 24px;
}


/* +++++++++++++++++++++++++++++ */

/* ++++++++++++modal bd ++++++++++++*/
dialog {
    background: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.40),
            rgba(46, 47, 66, 0.40)),
        url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: inherit;
    flex-shrink: 0;

}

input {
    padding: 0;
    margin: 0;
}
.modal-form {
    height: 584px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    border-radius: 4px;
    gap: 8px;
    max-width: 408px;
    background-color: #FCFCFC;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.20));
}

.form-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 72px;
    padding-bottom: 16px;
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 360px;
    border: none;
    position: relative;
}

.form-icon-edit {
    position: absolute;
    top: 0;
    left: 0;
}
.form-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 4px;
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
} 
textarea {
    width: 360px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
}
.form-input {
    width: 360px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid  #4D5AE5;
    
}
textarea::placeholder {
    color: rgba(46, 47, 66, 0.40);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 8px;
    padding-left: 16px;
}
.checkbox {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    stroke-width: 1px;
    stroke: rgba(46, 47, 66, 0.40);
}
.privacy-policy {
    color: rgba(46, 47, 66, 0.40);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.form-btn {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04px;
    min-width: 169px;
    min-height: 56px;
    margin: auto;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
    margin-bottom: 24px;
}